#Files to ignore for EmCon

### File types to completely ignore ###
*.ffs_db
*.lnk
*.set
*.fdt
*.cdt
*.cdt.deo
*.cdt.dpo
*.erp
*.asv
*.exe
*.dll
*.DS_Store
*.mat
*.GND
*.GRP
*.docx
*.xlsx
*.pdf

### Folders to completely ignore ###
belist/*
curry/*
EEGsets/*
ERPsets/*
psychopy*
*__pycache__*
code/old/*

### File subsets in folder to ignore ###
stats/behavioral/*.csv
stats/behavioral/*.xlsx
